requests==2.22.0
schema==0.7.1
chardet==3.0.4
idna==2.8
certifi==2019.11.28
contextlib2==0.6.0.post1
argparse==1.4.0
africastalking==1.1.9
geojson==2.5.0
pyowm==2.10.0
gspread==3.1.0
oauth2client==4.1.3
geopy==1.20.0